@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}


@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); opacity: 0; }
  25% { transform: translateX(0); opacity: 1; }
  75% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(100%); opacity: 0; }
}

@keyframes slideInFromRight {
  0% { transform: translateX(100%); opacity: 0; }
  25% { transform: translateX(0); opacity: 1; }
  75% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-100%); opacity: 0; }
}

@keyframes slideInFromTop {
  0% { transform: translateY(-100%); opacity: 0; }
  25% { transform: translateY(0); opacity: 1; }
  75% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(100%); opacity: 0; }
}

@keyframes slideInFromBottom {
  0% { transform: translateY(100%); opacity: 0; }
  25% { transform: translateY(0); opacity: 1; }
  75% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-100%); opacity: 0; }
}

.animation-slide-in-left {
  animation: slideInFromLeft 4s ease-in-out infinite;
}

.animation-slide-in-right {
  animation: slideInFromRight 4s ease-in-out infinite;
}

.animation-slide-in-top {
  animation: slideInFromTop 4s ease-in-out infinite;
}

.animation-slide-in-bottom {
  animation: slideInFromBottom 4s ease-in-out infinite;
}



