/* Hide scrollbar for Chrome, Safari, and Opera */
.faq-list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .faq-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .faq-list {
    max-height: 20rem; /* Adjust this as needed */
    overflow-y: hidden;
  }
  .custom-checkbox {
    position: relative;
  }

  /* Custom styling for the checkbox */
  .custom-checkbox:checked {
    background-color: red;
    border-color: red;
  }

  /* Creating a white checkmark when checked */
  .custom-checkbox:checked::before {
    content: '✓';
    color: white;
    font-size: 1rem; /* Adjust as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }